---
layout: default
---
<article class="page">
    <h1 class="page-title" id="page-title">
        {{ page.title }} Homework
    </h1>

    <div class="page-content">
        <a href="{% link {{ page.pdf }} %}"><img class="file-icon" src="{% link icon/pdf-file-format-symbol.svg %}"
                title="PDF File Format"></a>
        <a href="{% link {{ page.tex }} %}"><img class="file-icon" src="{% link icon/tex-file-format-symbol.svg %}"
                title="Tex File Format"></a>
        <!-- <a href="{% link {{ page.word }} %}"><img class="file-icon" src="{% link icon/docx-file-format-symbol.svg %}"
                title="Word File Format"></a> -->
    </div>

    <div class="thanks">
        <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </div>

</article>