---
layout: default
---
<article class="page">
    <h1 class="page-title" id="page-title">
        {{ page.title }} Homework
    </h1>

    <div class="page-content">
        {% if page.pdf %}
        <a href="{% link {{ page.pdf }} %}" target="_blank" rel="noopener noreferrer"><img class="file-icon"
                src="{% link icon/pdf-file-format-symbol.svg %}" title="PDF File Format"></a>
        <!-- <a href="{% link {{ page.tex }} %}" target="_blank" rel="noopener noreferrer"><img class="file-icon"
                src="{% link icon/tex-file-format-symbol.svg %}" title="Tex File Format"></a> -->
        {% else %}
        <p>Coming soon!</p>
        {% endif %}
    </div>

    <div class="thanks">
        <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </div>

</article>
